{% extends 'base.html' %}
{% block title %} Мой аккаунт {% endblock %}
{% block content %}
<h1> {{ object_list.username }} </h1>
<div>
  <p>
    email: {{ object_list.email }}
  </p>
  <p>
    City: {{ object_list.city }}
  </p>
  <p>

     {% for skill in  object_list.hard_skill.all %}

      <h1>{{ skill.name }}</h1>

    {% endfor %}
       <p>
          <a href="{% url 'create-skill' %}">Создать навык</a>
       </p>

  </p>
  <p>
    <a href="{% url 'update-account' object_list.id %}"> Редактировать</a>
  </p>
  <p>
    <a href="{% url 'delete-account' object_list.id %}"> Удалить</a>
  </p>
</div>
{% endblock %}